<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todolist</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css"
    />
    <link href="./styles/main.css" rel="stylesheet" />
  </head>
  <body class="d-flex flex-column h-100">
    <header>
      <nav class="navbar navbar-expand">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto ms-2">
            <li class="nav-item">
              <a class="nav-link" href="/"
                ><i class="far fa-calendar-alt"></i>Today</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/work"
                ><i class="far fa-clone"></i>Work</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="flex-shrink-0">
      <div class="container notes mt-5">
        <div class="row justify-content-centerp-3 p-3" id="heading">
          <% if (locals.itemList) { %>
          <h1><%= currentDate %></h1>
          <%} %>
        </div>
        <div class="row justify-content-center">
            <% if (locals.itemList) { workItemList.forEach(i => { %>
            <div class="item-list ps-3">
                <label class="custom-checkbox">
                <input type="checkbox" />
                <span class="checkmark"></span> <p class="list"><%= i %></p>
              </label>
            </div>
            <% });
           } %>
           </div>
          <div class="w-new-item p-2">
            <form class="item" action="/work" method="post">
              <input
                class="newList"
                type="text"
                name="newItem"
                placeholder="New Task"
                autocomplete="off"
              />
              <button
                type="submit"
                class="btn float-end"
                name="list"
                value="Thursday"
              >
                <span>+</span>
              </button>
            </form>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer mt-auto py-3">
      <div class="container"><span>Copyright © 2023</span></div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
